<div id="$chart.chartId"></div>
<table class="Displaytable" data-display="$chart.chartId">
	#foreach( $row in $chart.table )
	<tr>
		#if( $foreach.count == 1 )
			#foreach( $rowHead in $row )
				<th>$rowHead</th>
			#end
		#else
			#foreach( $rowCell in $row )
				#if( $foreach.count == 1 )
					<th>$rowCell</th>
				#else
					<td>$rowCell</td>
				#end
			#end
		#end
	</tr>
	#end
</table>