<div class="card  p-2 m-2 " style="width: 23rem; min-height: 15rem;">
			<div class=" card-right schedule_card_color"></div>
			<div class="task_icon schedule_card_icon"></div>


			<div class="card-block p-0 m-0 bg-white">
			<div class="container pt-2 pb-2">
			<div class=" row  bg-white">
				<div class="d-flex">
				<div class="col-md-12">
					<p4 class=" schedule_card_textcolor"> <i
						class="fa fa-clock-o"></i> 04:16 PM </p4>
					<p4 class=" schedule_card_textcolor"> <i
						class="fa fa-hourglass-o"></i> 6 hrs : 0 mins </p4>
				</div></div>
				</div></div>
				<div class="container pt-2 pb-2">
					<div class=" row  bg-white">
						<div class="col-md-3  pr-0">
							<img alt="Retail Banking " align="middle" class="w-100 h-100"
								ng-src="http://business.talentify.in:9999//course_images/5.png"
								src="http://business.talentify.in:9999//course_images/5.png">
						</div>
						<div class="col-md-9">
							<h6>$xxx</h6>
							<h5>h4. Bootstrap heading</h5>
							<h5>h5. Bootstrap heading</h5>
						</div>

					</div>
				</div>
				<hr class="mb-0">
				<div class="container pt-2 pb-2">
				
				<div class="row text-center">
					<div class="col-md-4 text-left">
					Attendance
					</div>
					<div class="col-md-4">
					Student
					</div>
					<div class="col-md-4">
					Trainer
					</div>
				</div>
				<div class="row text-center 	">
					<div class="col-md-4 text-left">
					59.74%
					</div>
					<div class="col-md-4">
					<div class="rateYo" data-rating="3.5" data-star_width="17"></div>
					</div>
					<div class="col-md-4">
					<div class="rateYo" data-rating="4.5" data-star_width="17"></div>
					
					</div>
				</div>
				</div>
			</div>



		</div>